# Bibliothèques principales
geopandas
streamlit
transformers
langchain
langchain-community
openai
tiktoken
langchain-openai
faiss-cpu
datasets

# Bibliothèques supplémentaires
pyngrok
annoy

# Dépendances
numpy
